[submodule "vendor/mark-multiple"]
	path = vendor/mark-multiple
	url = https://github.com/magnars/mark-multiple.el.git
[submodule "vendor/expand-region"]
	path = vendor/expand-region
	url = https://github.com/magnars/expand-region.el.git
[submodule "vendor/annoying-arrows"]
	path = vendor/annoying-arrows
	url = https://github.com/magnars/annoying-arrows-mode.el.git
[submodule "vendor/ace-jump-mode"]
	path = vendor/ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode
[submodule "vendor/simple-rtm"]
	path = vendor/simple-rtm
	url = https://github.com/mbunkus/simple-rtm.git
[submodule "vendor/nxhtml"]
	path = vendor/nxhtml
	url = git://github.com/emacsmirror/nxhtml.git
